html {
    font-family: 'Questrial', sans-serif;
}

body{
    background-color: 	#EFE7DA;
    height: 97vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 1fr 265px 265px 1fr;
    grid-template-rows: 1fr 3.75fr 3.65fr;
    grid-template-areas:
    "ga1 header header ga2"
    "ga1 pwla1 pwla2 ga2"
    "ga3 pwla3 pwla4 ga4"
    "ga3 keyboard keyboard ga4"
}

header {
    grid-area: header;
    align-self: flex-start;
    justify-self: center;
}

.guess-area-1, .pwla-1{
    background-color: #b11e23;
}

.guess-area-1{
    grid-area: ga1;
}

.pwla-1{
    grid-area: pwla1;
}

.guess-area-2, .pwla-2{
    background-color: #12357a;
}

.guess-area-2{
    grid-area: ga2;
}

.pwla-2{
    grid-area: pwla2;
}

.guess-area-3, .pwla-3 {
    background-color: #1d1d1b;
}

.guess-area-3{
    grid-area: ga3;
}

.pwla-3{
    grid-area: pwla3;
}

.guess-area-4, .pwla-4 {
    background-color: #e29726;
}

.guess-area-4{
    grid-area: ga4;
}

.pwla-4{
    grid-area: pwla4;
}

.guess-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.guess-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.guess-box {
    display: flex;
    height: 100%;
    margin: .1rem;
    /* width:  calc(16px + 3.5vh); */
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.guess-area-1 .guess-box {
    background-color: #c15354;
}

.guess-area-2 .guess-box {
    background-color: #6f80a2;
}

.guess-area-3 .guess-box {
    background-color: #827e7e;
}

.guess-area-4 .guess-box {
    background-color: #e9c389;
}

.collapsed{
    height: 5%;
}

.current{
    height: 15%;
    box-sizing: content-box;
}

.collapsed .guess-box{
    aspect-ratio: 3/1;
}

.current .guess-box{
    aspect-ratio: 1/1;
}


.keyboard {
    grid-area: keyboard;
    max-width: 530px;
    display: flex;
    flex-direction: column;
}

.key{
    display: flex;
    background-color: #EFE7DA;
    font-family: 'Questrial', sans-serif;
    font-size: calc(16px + 1.5vh);
    font-weight: 500;
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.key-special{
    flex: 0 0 14.5% ;
}


.keyboard-row {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    height: calc(16px + 4vh);
    margin-top: 2px;
}