html {
    font-family: 'Questrial', sans-serif;
}

body{
    background-color: 	#EFE7DA;
    height: 97vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 1fr 265px 265px 1fr;
    grid-template-rows: .8fr 7.1fr 2.1fr;
    grid-template-areas:
    "header header header header"
    "sa1 sa1 sa2 sa2"
    "sa3 sa3 sa4 sa4"
    ". keyboard keyboard ."
}

.header {
    grid-area: header;
}

.solve-area-1{
    background-color: #b11e23;
    grid-area: sa1;
}

.solve-area-2{
    background-color: #12357a;
    grid-area: sa2;
}

.solve-area-3 {
    background-color: #1d1d1b;
    grid-area: sa3;
}

.solve-area-4 {
    background-color: #e29726;
    grid-area: sa4;
}

.solve-area {
    display: grid;
    justify-content: space-between; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "guesses words";
}

.guess-area {
    display: flex;
    flex-direction: column;
    grid-area: guesses;
}

.guess-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.guess-box {
    height: calc(16px + 3.5vh);
    font-size: calc(16px + 3vh);
    margin: .1rem;
    width:  calc(16px + 3.5vh);
    /* flex: 0 0 100%; */
    border-radius: 3px;
    justify-content: center;
}

.solve-area-1 .guess-box {
    background-color: #c15354;
}

.solve-area-2 .guess-box {
    background-color: #6f80a2;
}

.solve-area-3 .guess-box {
    background-color: #827e7e;
}

.solve-area-4 .guess-box {
    background-color: #e9c389;
}

.possible-words-list-area {
    grid-area: words;
}



.keyboard {
    grid-area: keyboard;
    background-color: #fcfcec9a;
    max-width: 530px;
    display: flex;
    flex-direction: column;
}

.key{
    font-family: 'Questrial', sans-serif;
}


.keyboard-row {
    background-color: #f0ffff2c;
    display: flex;
    justify-content: center;
    
}